


.about-section {
    /* background-color: #E9EFEC; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}


.about-section-top {
    text-align: center;
}

.about-section-top>h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
}

.about-section-top>span {
    font-size: 1.2rem;
    color: #333;
}



.about-section-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10rem;
}


.about-section-bottom-right-top {
    /* border: 1px solid red;/ */
    border-radius: 0.5rem;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    /* height: 50px   ; */
    width: 10rem;
    border: 1px solid #c2c2c2;
    padding: 1.4rem;
    


    &:hover{
        background-color: #e4e4e4;
        cursor: pointer;    
    }

    &:hover span{
        color: rgb(41, 41, 41);
    }

  


}

.about-section-bottom-right-top > span {
    font-size: 1.6rem;
    color: var(--gray-color);
}

.about-section-bottom-right-top > h3 {
    font-size: 1.2rem;
    color: var(--gray-color);
    font-weight: 500;
}


.testing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about-section-bottom-right-top > h4{
    font-size: 0.8rem;
    color: var(--gray-color);
}


.about-section-bottom-right-middle{
    font-size: 1rem;
    letter-spacing: -0.5px;
    color: #252525;
}


.about-section-bottom-right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-section-bottom-right-bottom{
    
}