header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 14rem;
    background-color: white;
    /* position: sticky; */
    /* top: 0; */
}


header>h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(117, 117, 11 7);
    letter-spacing: -0.1rem;
}

.navitems {
    padding: 0.5rem;

    display: flex;
    align-items: center;
    gap: 3rem;

}

.navitems>a {
    text-decoration: none;
    color: rgb(117, 117, 117);
    font-size: 1.2rem;
    font-weight: 400;


    &:hover {
        color: black;
    }

}